@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
.bg-cdc {
  background-color: #17183B;
  font-family: "Montserrat", sans-serif;
}

.animation {
  background-repeat: no-repeat;
  background-size: cover;
  width: 4rem;
  border-radius: 2.5rem;
  height: 4rem;
  margin-left: 3rem;
}

.bg-sha {
  border-radius: 7px;
  box-shadow: -9px -9px 18px white, -9px -9px 18px white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-size: 20px; */
}

body {
  background-image: url(/imagenes/CDC-Jump.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: top;
}

html {
  scroll-behavior: smooth;
}

.textoInicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: none;
  height: 100%;
}

.h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.4rem #17183B;
  color: #DB3A34;
}

p {
  font-family: "Audiowide", cursive;
  text-align: justify;
  color: white;
  font-size: 1.1rem;
  font-weight: lighter;
}

.textoSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  height: auto;
  background-color: #17183B;
}
.aside {
  color: white;
}

.hola {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: top;
  flex-direction: column;
  justify-content: space-around;
}

.bg-sha {
  border-radius: 7px;
  box-shadow: -5px -5px 8px #0d0e22;
}

.bg-sha-1 {
  border-radius: 7px;
  background-color: rgba(23, 24, 59, 0.5);
  box-shadow: -5px -5px 8px #0d0e22;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: 0.5rem 0.5rem 0.5rem #db3a34;
  padding: 0rem 1rem;
  border-radius: 0px;
  box-shadow: 5px 5px 10px #0d256c;
}
.front form {
  display: flex;
  flex-direction: column;
}
.front form button {
  display: flex;
  font-size: 1.5rem;
  align-self: flex-end;
  color: white;
  background-color: #17183B;
  padding: 0.8rem 0.8rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem #f8f6f6;
}
.front form button:hover {
  background-color: rgba(32, 109, 133, 0);
  transform: translatey(-0.2rem);
  border: none;
  color: #17183B;
}

.pfront {
  padding: 0rem 0rem;
  text-align: justify;
  color: black;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(252, 252, 252, 0.6);
  text-shadow: 0 0 0.1rem #17183B;
}

.h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-shadow: 0 0 0.4rem #17183B;
  color: #DB3A34;
}
.h5 span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-shadow: 0 0 0.4rem #17183B;
  color: #DB3A34;
}

p {
  font-family: "Audiowide", cursive;
  text-align: justify;
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
}

.bg-album {
  position: absolute;
  color: white;
  background: linear-gradient(rgba(23, 24, 59, 0.5), rgba(255, 255, 255, 0.5));
}

.irAlPrincipio {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
}
.irAlPrincipio i {
  color: #17183B;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 0 0 0.25rem #f8f6f6;
  height: 1em;
  width: 1em;
}
.irAlPrincipio:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.95rem;
  font-weight: bolder;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.4rem #17183B;
  color: #DB3A34;
}

h3 {
  color: #DB3A34;
  font-family: "Montserrat", sans-serif;
  font-size: 1.95rem;
  font-weight: bolder;
  align-self: center;
  padding-top: 1em;
}

h4 {
  color: #DB3A34;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: bolder;
  align-self: center;
  padding-top: 1em;
  font-weight: lighter;
}

h5 {
  color: #206d85;
  font-family: "Audiowide", cursive;
  font-size: 1.5rem;
  padding-left: 1rem;
  align-self: center;
  font-size: bolder;
}

.historia div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 10%;
  padding-bottom: 1%;
}
.historia div a {
  background-color: #DB3A34;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
.historia div a:hover {
  background-color: #17183B;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transform: translate(1s);
  transition: 1.03s;
}

@media screen and (min-width: 320px) and (max-height: 420px) {
  h2 {
    color: #206d85;
    font-family: "Montserrat", sans-serif;
    font-size: 0rem;
    font-weight: bolder;
    align-self: center;
    padding-top: 1em;
    padding-left: 1em;
  }

  h3 {
    color: #206d85;
    font-family: "Montserrat", sans-serif;
    font-size: 0rem;
    font-weight: bolder;
    align-self: center;
    padding-top: 1em;
    padding-left: 1em;
  }
}
.tituloG {
  color: white;
  background-color: #17183B;
  box-shadow: 0 0 0.05em #17183B;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.09em;
  font-weight: bold;
  text-align: center;
  padding: 0.11em 0em;
}

.enlace-disco {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slide img {
  height: 35rem;
}

.slide-1 {
  border-radius: 7px;
  box-shadow: -9px -9px 18px #0d0e22, -9px -9px 18px #0d0e22;
}

form {
  display: flex;
  align-self: center;
}
form button {
  color: white;
  background-color: #17183B;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem #f8f6f6;
}
form button:hover {
  background-color: rgba(32, 109, 133, 0);
  border: none;
}

.bg-sha-1 {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 8rem;
  border-radius: 7px;
  box-shadow: -9px -9px 18px #0d0e22, -9px -9px 18px #0d0e22;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .slide img {
    height: 20rem;
  }
}
@media screen and (min-width: 460px) and (max-width: 991px) {
  .slide img {
    height: 30rem;
  }
}
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 7em;
  gap: 0.05em;
}

.gallery-item {
  position: relative;
}
.gallery-item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.gallery-item:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.gallery-item:nth-child(7) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
}

@media screen and (min-width: 476px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 6em;
    gap: 0.05em;
  }

  .gallery-item:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(6) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(8) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(9) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
}
@media screen and (min-width: 576px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 8em;
    gap: 0.09em;
  }

  .gallery-item:nth-child(9) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(8) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
}
@media screen and (min-width: 780px) and (max-height: 990px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 7em;
    gap: 0.2em;
    margin: 2em;
  }

  .gallery-item:nth-child(1) {
    grid-column-start: span 4;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .gallery-item:nth-child(6) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(9) {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 7em;
    gap: 0.2em;
    margin: 2em;
  }

  .gallery-item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(9) {
    display: inline-block;
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(6) {
    grid-column-start: span 1;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(7) {
    grid-column-start: span 2;
    grid-row-start: span 3;
  }
  .gallery-item:hover {
    transform: scale(1.05);
    transition: all 1.8s;
  }
}
/* ----------------------------------------Contacto Grid ------------------------------------------------ */
/* ----------------------------------------Contacto Grid ------------------------------------------------ */
.containerContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 300px 300px;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "contacto contacto sugerencia " "contacto contacto img " "contacto contacto img";
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

/* ----------------------------------    C O N T A C T O    ------------------------------------------------- */
.sugerencia {
  grid-area: sugerencia;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 3rem;
  font-family: "Audiowide", cursive;
  padding: 1.5rem;
}
.sugerencia h2 {
  margin-bottom: 0rem;
  color: #a1ccec;
  box-shadow: 0 0 12px #050805;
}

.sugerencia ul {
  list-style: url("https://icongr.am/octicons/check-circle.svg?size=15&color=26858c");
  text-align: justify;
  font-family: "Audiowide", cursive;
  font-size: 20px;
  border: #0a0a0a solid 5px;
}

.img {
  grid-area: img;
  background-color: #082032;
  background-image: url(/imagenes/cdc-Contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-right: 3rem;
}

.contacto {
  grid-area: contacto;
  background-color: #2cd35b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contacto h2 {
  background-color: blue;
  align-self: center;
  justify-content: flex-end;
  font-family: 30px;
}

.formularioBorde {
  display: flex;
  border: #95cdee;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #29b4b4;
  margin-top: 5%;
  margin-left: 180px;
  border-style: outset;
  line-height: 30px;
  height: 620px;
}

.pie {
  background-image: url(/imagenes/cdcn.jpg);
  display: flex;
  flex-direction: column;
  background-color: #17183B;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 15rem;
  border-top: 8px groove rgba(23, 24, 59, 0.2);
  border-radius: 5px;
}
.pie p {
  color: white;
  font-size: 1rem;
  font-family: "Audiowide", cursive;
}

.pie2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pie2 i {
  padding: 0 0.3em;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
