@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Montserrat:ital,wght@1,200;1,700&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    scroll-behavior:smooth;

  }

/* ir-al-primcipio */
.irAlPrincipio{
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    right: 2em;
    border-radius: 50%;
    text-shadow: 0 0 0.5em black;
    
}

.irAlPrincipio i{
    color:#206d85;
    font-size: 2.2em ;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    height: 1em;
    width: 1em;
 
}
.irAlPrincipio:hover{

 
transform: scale(1.1);
   
}

  /* ---------------------------------------------------------- */


/* ------------------------------------------------------- */


.bg-cdc {
    background-color: #082032;
    font-family: 'Montserrat', sans-serif;  
}



/* CODIGO NUEVO0 */

.textoInicio { display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:none;
    height: 100%;

}

/* .textoInicio img {
    height: 20em;
    width: 100%;
} */
 #h1 {
    color: #206d85 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-left: 0.3em;
  
 
}

 p {
    padding: 0rem 1rem;
    font-family: 'Audiowide', cursive;
    text-align: justify;
    color: black;
    
}


.textoSide {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start; 
   
    background-position: center; 
    background-size: cover;
     background-image: linear-gradient(to bottom, #082032,rgb(33, 13, 121)); 
    height: auto;
  
   
}
.te {
    background-color: rgba(38, 207, 38, 0.3);
}
.aside { 
    color:white;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
  
}

.textoSide h2{
color:#206d85 ;
font-family: 'Montserrat', sans-serif;
font-size: 1.5em;
font-weight: bolder;
text-shadow: 0 0 3px rgb(7, 3, 3);
align-self: center;
padding-top:1rem;
}



/* ----------------------H I S T O R I A ------------------------------ */

 h2, h3 {
    color:#206d85 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9em;
    font-weight: bolder;
    align-self: center;
    padding-top:1em;
    padding-left: 1em;
 
}

.historia div  {display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 7em;
    padding-bottom: 1em;
    color: black;
    font-size: 1.6em;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
}
.historia div a:hover {
   background-color: #206d85;
   color: white;
} 
.tituloG{
    color: white;
    background-color: #082032;
    box-shadow: 0 0 0.05em #206d85;
font-family: 'Montserrat', sans-serif;
font-size: 2em;
letter-spacing: 0.09em;
font-weight: bold;
text-align: center;
padding: 0.11em 0em;

}
/* Discos */
.discos {display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     height: 18em;
     font-size: 1em;
     background-image: linear-gradient(to bottom, #082032, rgb(33, 13, 121));

     color: white;
     padding: 0rem 1rem;
     font-family: 'Audiowide', cursive;
     
    
}
.disImg-1{ 
    background-image: url(../imagenes/discos/CDC-1992.jpg);
    background-size: cover;
    background-position:center; 
    height: 18em;
}
.disImg-1:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-2{ 
    background-image: url(../imagenes/discos/CDC-1993.jpg);
    background-size: cover;
    background-position:center; 
    height: 18em;
}

.disImg-2:hover{
    transform: scale(1.003);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-3{ 
    background-image: url(../imagenes/discos/CDC-1996.jpg);
    background-size: cover;
    background-position:center; 
    height: 18em;
}
.disImg-3:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-4{ 
    background-image: url(../imagenes/discos/CDC-2000.jpg);
    background-size: cover;
    background-position:center; 
    height: 18em;
}

.disImg-4:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-5{ 
    background-image: url(../imagenes/discos/CDC-2002.jpg);
    background-size: cover;
    background-position:bottom; 
    height: 18em;
}
.disImg-5:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-6{ 
    background-image: url(../imagenes/discos/CDC-2007.jpg);
    background-size: cover;
    background-position:center; 
    height: 18em;
}

.disImg-6:hover{
    transform: scale(1.003);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-7{ 
    background-image: url(../imagenes/discos/CDC-2010.jfif);
    background-size: cover;
    background-position:top; 
    height: 18em;
}
.disImg-7:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-8{ 
    background-image: url(../imagenes/discos/CDC-2015.jfif);
    background-size: cover;
    background-position:center; 
    height: 18em;
}

.disImg-8:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}
.disImg-9{ 
    background-image: url(../imagenes/discos/CDC-2010.jfif);
    background-size: cover;
    background-position:top; 
    height: 18em;
}
.disImg-9:hover{
    transform: scale(1.05);
    transition: all 1.5s;
    filter: grayscale(10%);
}

.discos button {
    align-self: center;
    color: white;
    background-color: rgb(32, 109, 133);
    padding: 0.5em;
 
 }
 .discos button:hover {
     background-color: rgba(32, 109, 133, 0.1);
     transform: scale(1.1);
  transition: 1.4s;
  }


  /* Discos IMPARES*/
 
 
 .discoImpar h4 {
    align-self: flex-start;
   
   
}
.pdiscoImpar{
    padding-left: 0em;
    padding-right: 1em;
    font-family: 'Audiowide', cursive;
    text-align: justify;
    color: white;
    align-self: flex-start;
   
}
  /* Discos PARES*/



.discoPar h4 {
    align-self: flex-end;
    padding-left: 1em;
    padding-right: 0em;
   
   
}
.pdiscoPar{
    padding-left: 1em;
    padding-right: 0em;
    font-family: 'Audiowide', cursive;
    text-align: justify;
    color: white;
    align-self: flex-end;
   /* -------------------------------------PIE--------------------------------- */
}
.pie { display: flex;
    flex-direction:column;
    background-color: #082032;
    color: white;
    height: 10em;
    justify-content: space-evenly;
    align-items: center;
   
}
.pie2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.pie p {
    color: white;
    font-size: 0.5em;
    font-family: 'Audiowide', cursive;
    
}
.pie2  i {
  
  padding: 0 0.3em;
  font-size: 1.5em;
} 
/* Noticias */
/* .noticia-1{
    background-image: url(/imagenes/nacho&CDC.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
   
} */
/* .noticia-2{
    background-image: url(/imagenes/CDC-R.jpg);
} */

/* ----------------------*******************************------------------ */



/* -----------------------------------Galleria Grid--------------------------------------------- */
/* -----------------------------------Galleria Grid--------------------------------------------- */
@media only screen and (min-width: 753px)  {
    .containerGaleria{
        display: none;
    }
    .containerGaleria {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:  200px 200px 200px 250px;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
      
        "area-1 area-1 area-4 area-4 area-5"
        "area-2 area-6 area-4 area-4 area-5"
        "area-2 area-3 area-3 area-8 area-8"
    
        "area-7 area-7 area-7 area-8 area-8";
          
      padding: 5rem;
       background-color: #082032;
    
      }
     
     /* --------------------------------------G A L  E R I A--------------------------------------------------- */
     .mostrar{
         display: none;
     }
      .area-1 { grid-area: area-1;
    background-image: url(/imagenes/gallery/cdc1.jpg); 
    background-position: center;
    }
    .area-1:hover{
        transform: scale(1.1);
        transition: all 2s;
        filter: grayscale();
    }
      .area-2 { grid-area: area-2;
        background-image: url(/imagenes/gallery/cdc5.jpg);
    background-position: center;
    background-size: cover; }
    .area-2:hover{
        transform: scale(1.1);
        transition: all 2s;
        filter: grayscale();
    }
      .area-3 { grid-area: area-3; 
        background-image: url(/imagenes/gallery/cdc3.jpg);
        background-position: top;
        background-size: cover; }
          
        .area-3:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }
      .area-4 { grid-area: area-4;
        background-image: url(/imagenes/gallery/cdc2.jpg);
        background-position:none;
        background-size: cover; }
        .area-4:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }
          
      .area-5 { grid-area: area-5;
        background-image: url(/imagenes/gallery/cdc8.jpg);
        background-position: center;
        background-size: cover; }
        .area-5:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }
          
      .area-6 { grid-area: area-6;
        background-image: url(/imagenes/gallery/cdc6.jpg);
        background-position: center;
        background-size: cover; }
        .area-6:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }
    
        
      
      .area-7 { grid-area: area-7;
        background-image: url(/imagenes/gallery/cdc9.jpg);
        background-position: center;
        background-size: cover; }
        .area-7:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }
      .area-8 { grid-area: area-8; 
        background-image: url(/imagenes/gallery/cdc10.jpg);
    background-position: center;
    background-size: cover; }
    .area-8:hover{
        transform: scale(1.1);
        transition: all 2s;
        filter: grayscale();

    }
}
@media only screen and (min-width: 320px)  and (max-width:753px) {
    .containerGaleria{
        display: none;
        
    }
  
  

}  
@media only screen and (min-width: 753px)  and (max-width:1105px) {
    .area-6 { grid-area: area-6;
        background-image: url(/imagenes/gallery/cdc6.jpg);
        background-position: right;
        background-size: cover; }
        .area-6:hover{
            transform: scale(1.1);
            transition: all 2s;
            filter: grayscale();
        }

    
}


/* ----------------------------------------Contacto Grid ------------------------------------------------ */
/* ----------------------------------------Contacto Grid ------------------------------------------------ */
.containerContacto { display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 300px 300px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: 
    
    "contacto contacto sugerencia "
    "contacto contacto img "
    "contacto contacto img";

    width: 100%;
      height: 100%;
     background-color: aliceblue;
     
}

/* ----------------------------------    C O N T A C T O    ------------------------------------------------- */

.sugerencia {grid-area: sugerencia;
  display: flex;
  flex-direction: column;
justify-content:space-around;
align-items:center;
margin-right: 3rem;
font-family: 'Audiowide', cursive;
padding: 1.5rem;
 ;
}
.sugerencia h2{
    margin-bottom: 0rem;
    color: #a1ccec;
    box-shadow:0 0 12px rgb(5, 8, 5);
    
}
.sugerencia ul {
    list-style:url("https://icongr.am/octicons/check-circle.svg?size=15&color=26858c");
    text-align:justify;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    border: #0a0a0a solid 5px;
}

.img {grid-area: img;
 background-color: #082032;
    background-image: url(/imagenes/cdc-Contact.jpg);
    background-position: center    ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    margin-right: 3rem;}
   

.contacto { grid-area: contacto;
    background-color:#2cd35b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
.contacto h2{
background-color: blue;
align-self:center;
justify-content: flex-end;
font-family: 30px   ;
}

    .formularioBorde{ display: flex;
        border: rgb(149, 205, 238); 
        border-radius: 2em;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: #29b4b4;
        margin-top: 5%;
        margin-left: 180px;
        border-style: outset;
        line-height: 30px;
        height: 620px;
    }

