//  Importando Variables

@import '../base/variables' ;

.tituloG{
    color: white;
    background-color: $color-1;
    box-shadow: 0 0 0.05em $color-1;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.09em;
    font-weight: bold;
    text-align: center;
    padding: 0.11em 0em;
}