@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

// Background Formulario

.bg-formulario { display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      background-color: rgba($color: $color-1, $alpha: 0.6);
      box-shadow:  -5px -5px 8px #0d0e22;
      width: auto;
    }
}

//  Formulario

.formulario {
    display: block;
    margin: 0rem auto;
    width: 90%;
    max-width: 32.5rem;
    min-width: 16rem;
    position: relative;
    overflow: hidden;
    background-color:#17183B;
    h2{
      margin: 0.1rem;
      text-align: center;
    }
}
  .forma {display: flex;
      flex-direction: column;
      color: #DB3A34;
  }
  
  .formulario input[type="text"], .formulario input[type="email"] {
    margin: 2.25rem 1.5rem;
    color: $color-2;
    padding: 1.25rem 0.75rem;
    text-align: center;
    width: 100%;
    max-width: calc(100% - 3rem);
    outline: none;
    border: 0;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .formulario input[type="text"]::placeholder, 
  .formulario input[type="email"]::placeholder {
    color: #1691aa;
    font-size: 1rem;
    font-family:$fallback-font; 
  }

  .formulario input[type="submit"] {
    background-color:#DB3A34;
    color:white;
    padding: 1.25rem 0.75rem;
    text-align: center;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor:pointer;
    font-family: $fallback-font;
    &:hover {
      background-color:#17183B;
    }
  }
 
  .zoom-area { 
    margin: 2.5rem auto 3.5rem;
    font-size: 1rem;
    color: $color-1;
    text-align: center;
  }
  .enlace-container {
    text-align: center;
    a{
      text-transform: uppercase;
      font-size: 1rem;
      background-color:#17183B;
      padding: 0.6rem 0.5rem;
      border-radius: 0;
      color: #fff;
      display: inline-block;
      text-decoration: none;
      margin-top: 0.3rem;
      font-family: $fallback-font;
      text-shadow: 0 0 1rem black;
    }
  }
