@import '../base/variables';
.bg-cdc {
	background-color: $color-1;
	
   
   
}
.nav-link {
    color: $color-2  ;
    font-family: 'Montserrat', sans-serif ;
}
.animation {
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem; 
    border-radius: 2.5rem;
    height:3rem;
    margin-left: 2rem;
}
