@import '../base/variables';
.bg-cdc {
	background-color: $color-1;
	font-family: 'Montserrat', sans-serif;
   
   

}
.animation {
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem; 
    border-radius: 2.5rem;
    height:4rem;
    margin-left: 3rem;
}
.bg-sha{
	border-radius: 7px;
box-shadow:  -9px -9px 18px white,
             -9px -9px 18px white
}