@import '../base/variables';
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: bolder;

	color: $color-2;
}
h3 {
	color: 	$color-2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;



}
h4{
	color: 	$color-2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7rem;
	
	align-self: center;
	font-weight: lighter;
}
h5 {
	color: #206d85;
	font-family: 'Audiowide', cursive;
	font-size: 1.5rem;

	align-self: center;
	
}

