// Importando Variables

@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
} 
body {
	background-color: $color-1;	
}
html {
    scroll-behavior:smooth;
  }
  // Estilos de las "h"
  h1, h2 {	
	font-family: $font-h12;
	font-size: 2.3rem;
	padding-top: 0.5rem;
	padding-left: 0.3rem;
	text-shadow: 0 0 1rem black;
	color:white;	
}
h3, h4 {
	font-family: $font-h345;
	font-size: 2rem;
	padding-top: 0.5rem;
	padding-left: 0.3rem;
	text-shadow: 0 0 1rem black;
	color:white;
}

h5 {
	color: $color-2;
	font-family: $font-h345;
	font-size: 1.2rem;
	align-self: center;
}

// Estilos de los Parrafos

p {
	font-family: $fallback-font;
	text-align: justify;
	color: white;
	font-size: 1.2rem;
	text-shadow: 0 0 0.5rem $color-1;	
	}
// Background  de inicio
.jumbotron-1 {
	background-image: url(../imagenes/bg-cdc.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	background-position: 0 0;
	display: flex;
	flex-direction: column;
 	justify-content:center;
	align-items: center;
}
.bg-inicio{
	border-radius: 7px;
	background-color: rgba($color: $color-1, $alpha: 0.9);
	box-shadow:  -5px -5px 8px #0d0e22;
&:hover {
	background-color: rgba($color: $color-1, $alpha: 1);
}
form{
	display: flex;
	justify-content: end;
	button {
		font-size: 1.5rem;	
		color: white;
		font-weight: bold;
		margin-right: 1.5rem;
		background-color: $color-2;
		border: none ;
		text-align: end;
		border-radius: 0.25rem;
		box-shadow: 0 0 0.25rem rgb(248, 246, 246);
		animation-name: animar;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		
		&:hover {
		background-color: $color-1;
				}
			}
	
		}
	    a{
			text-decoration:none;
			color: $color-2;
		}
		strong {
			text-transform: uppercase;
		}
} 
// Animacion de Botton Suscribirme

@keyframes animar {
	0% {
	transform: rotate(0deg);
	color: white;
	  }
	  10% {
		transform: rotate(0.25deg);
		
	  }
	  25% {
		transform: rotate(0.5deg);
		
	  }
	  35%{
		transform: rotate(0.75deg);
		color:cornflowerblue ;
	  }
	  40% {
		transform: rotate(0.5deg);
		
	  }
	  
	  60% {
		transform: rotate(0.25deg);
		
	  }
	  65% {
		transform: rotate(0deg);
		color: white;
	  }
	  70%{
		transform: rotate(-0.25deg);
	
	  }
	  75% {
		transform: rotate(-0.5deg);
		
	  }
	  80%{
		transform: rotate(-0.75deg);
		color:cornflowerblue ;
	  }
	  85% {
		transform: rotate(-0.5deg);
	
	  }
	  90% {
		transform: rotate(-0.25deg);
		
	  }
	  100%{
		transform: rotate(0deg);
		color: white;
	  }
	
}
// MIEMBROS DE LA BANDA
.bg-miembros {
	border-radius: 7px;
	box-shadow:  -5px -5px 8px #0d0e22;
}	
//Backgroud de Discografia
.jumbotron-2 {
	background-image: url(../imagenes/bg-cdc.jpg);
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	background-position: 0 0;
	display: flex;
	flex-direction: column;
 	justify-content:center;
	align-items: center;
}
// Background del Titulo discografia
.bg-titulo-disco {
	background-color: #0d0e22;
	background: linear-gradient(180deg, rgba(23,24,59,1) 65%, rgba(23,24,59,0.67) 100%);
	}	
// .bg-disco{
// 	display: flex;
// 	flex-direction: column;
// 	align-self: flex-start;
// 	justify-content: flex-start;
// }
// Estilo titulo Album
.titulo-album {
	font-family: $font-h345;
	font-size: 1.4rem;
 	padding: 0.7rem 0.4rem;
  	text-align: center;
	background-color: rgba($color: $color-1, $alpha: 0.8);
	box-shadow:  -5px -5px 8px #0d0e22;
  	width:fit-content;
}

// MEDIA QUERIES PARA EL JUMBOTRON | 320PX A 730PX

@media screen and (min-width: 320px) and (max-width: 991px) {
	.jumbotron-1, .jumbotron-2 {
		background-image: url(../imagenes/bg-cdc.jpg);
		height: 100vh;
		width: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: white;
	}
	}
// MEDIA QUERIES para background de: inico | 320px a 813 px

@media screen and (min-width: 320px) and (max-width: 813px)  {
	.bg-inicio{
		width: 100%
	}
}


// MEDIA QUERIES TITULO DE ALBUM 320PX A 425PX

@media screen and (min-width: 320px) and (max-width: 425px) {
	.titulo-album {

		font-size: 1rem;
		padding: 0.4rem 0.1rem;
		background-color: rgba($color: $color-1, $alpha: 0.8);
		box-shadow:  -5px -5px 8px #0d0e22;
		width:fit-content;
	}

}