@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
} 
body {
	background-color: $color-1;	
}
html {
    scroll-behavior:smooth;
  }
  h1, h2 {	
	// font-family: 'Montserrat', sans-serif;
	font-family: $font-h12;
	font-size: 2.3rem;
	padding-top: 0.5rem;
	padding-left: 0.3rem;
	text-shadow: 0 0 1rem black;
	color:white;	
}
//   h2 {
// 	font-family: $fallback-font;
// 	font-size: 2rem;
// 	padding-top: 0.5rem;
// 	padding-left: 0.3rem;
// 	text-shadow: 0 0 0.4rem $color-1;
// 	color: $color-2;
// }
h3, h4 {
	font-family: $font-h345;
	font-size: 1.8rem;
	padding-top: 0.5rem;
	padding-left: 0.3rem;
	text-shadow: 0 0 1rem black;
	color:white;
}
// h4{
// 	color: 	$color-2;
// 	font-family: 'Montserrat', sans-serif;
// 	font-size: 1.7rem;
	
// 	align-self: center;
// 	font-weight: lighter;
// }
h5 {
	color: $color-2;
	font-family: $font-h345;
	font-size: 1.7rem;
	align-self: center;
	
}


.h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-shadow: 0 0 0.4rem $color-1;
	color: $color-2;	
}
.jumbotron-1 {
	background-image: url(../imagenes/bg-cdc.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	background-position: 0 0;
	display: flex;
	flex-direction: column;
 	justify-content:center;
	align-items: center;
}
.jumbotron-2 {
	background-image: url(../imagenes/bg-cdc.jpg);
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	background-position: 0 0;
	display: flex;
	flex-direction: column;
 	justify-content:center;
	align-items: center;
}
.bg-disco{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: flex-start;
}
.bg-sha{
	border-radius: 7px;
	background-color: rgba($color: $color-1, $alpha: 0.7);
	box-shadow:  -5px -5px 8px #0d0e22;
&:hover {
	background-color: rgba($color: $color-1, $alpha: 1);
}
form{
	display: flex;
	justify-content: end;
	button {
		font-size: 1.5rem;	
		color: white;
		margin-right: 1.5rem;
		background-color: $color-2;
		border: none ;
		border-radius: 0.25rem;
		box-shadow: 0 0 0.25rem rgb(248, 246, 246);
		&:hover {
		background-color: $color-1;
		transform: scale(1.1);
		transition: 0.5s;
				}
			}
	
		}    
}
// }MEDIA QUERIES PARA EL JUMBOTRON 320PX A 730PX
@media screen and (min-width: 320px) and (max-width: 991px) {
	.jumbotron-1, .jumbotron-2 {
		background-image: url(../imagenes/bg-cdc.jpg);
		height: 100vh;
		width: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: white;
	}
	}

@media screen and (min-width: 320px) and (max-width: 813px)  {
	.bg-sha{
		width: 100%
	}
}
// MIEMBROS DE LA BANDA
.bg-miembros {
	border-radius: 7px;
	box-shadow:  -5px -5px 8px #0d0e22;
}	
.bg-disco {
	background-color: #0d0e22;
	background: linear-gradient(180deg, rgba(23,24,59,1) 65%, rgba(23,24,59,0.67) 100%);
	}	
p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: justify;
	color: white;
	font-size: 1.2rem;
	font-weight:lighter;
	text-shadow: 0 0 0.5rem $color-1;	
	}
.titulo-album {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
 	padding: 0.7rem 0.4rem;
  	text-align: center;
	background-color: rgba($color: $color-1, $alpha: 0.8);
	box-shadow:  -5px -5px 8px #0d0e22;
  	width:fit-content;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
	.titulo-album {

		font-size: 1rem;
		padding: 0.4rem 0.1rem;
		background-color: rgba($color: $color-1, $alpha: 0.8);
		box-shadow:  -5px -5px 8px #0d0e22;
		width:fit-content;
	}

}