// Colores 
$color-1:#17183B;
$color-2:#DB3A34;
$color-w: white;
$color-b: black;
// Fuentes
$fallback-font: Verdana, Geneva, Tahoma, sans-serif;
$font-h12:Verdana, Geneva, Tahoma, sans-serif;
$font-h345:Verdana, Geneva, Tahoma, sans-serif;

